<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 公共的业务数据库操作语句 -->
<mapper namespace="com.ucpalm.voice.db.dao.CommonMapper">
	<!-- 获取账户信息 -->
	<select id="getUser" resultType="map">
		select * from tb_caas_user t where t.userId=#{userId} limit 1
	</select>
	
	<!-- 获取应用信息 -->
	<select id="getApplication" resultType="map">
		select * from tb_caas_application t where t.userId=#{userId} and t.productType=#{productType}
	</select>
	
	<!-- 插入扣费记录 -->
	<insert id="insertDeduction">
		INSERT INTO `tb_caas_deduction` (`userId`, `productType`, `deductionType`, `deductionCode`, `payMoney`, `createTime`, `createUser`, `status`)
		VALUES  (#{userId}, #{productType}, #{deductionType}, #{deductionCode}, #{deductionMoney}, now(), #{userId}, '0');
	</insert>
	
	<select id="getBalance" resultType="map">
		select t.balance, t.creditType, t.creditMoney from tb_caas_balance t where t.userId = #{userId} limit 1;
	</select>
	
	<update id="updateBalance">
		update tb_caas_balance set balance=balance - #{balance},updateTime=now() where userId=#{userId};
	</update>
	
	<update id="updateDeductionStatus">
		update tb_caas_cdr_${nowDate} set deductionStatus='0' where userId=#{userId} and callId=#{callId};
	</update>
	
	<!-- 根据号码获取费率 -->
	<select id="getNumberRateUserId" resultType="map">
		select * from tb_caas_fee t where t.id = (select n.rateId from tb_caas_phonenumber n where n.phoneNumber=#{phoneNumber} and n.serverProduct=#{productType} and n.userId = #{userId} limit 1)
	</select>
	
	<select id="getNumberRate" resultType="map">
		select * from tb_caas_fee t where t.id = (select n.rateId from tb_caas_phonenumber n where n.phoneNumber=#{phoneNumber} and n.serverProduct=#{productType} limit 1)
	</select>
	
	<select id="getNumberReSidueUnit" resultType="long">
		select reSidueUnit from tb_caas_phonenumber n where n.phoneNumber=#{phoneNumber} and n.serverProduct=#{productType} and n.userId=#{userId}
	</select>
	
	<select id="getNumInfomation" resultType="map">
		select * from
		tb_caas_num_infomation t where t.`mobile`=#{mobile} limit 1
	</select>
	
	<select id="getNumInfomation_new" resultType="map">
		select  Mobile mobile ,AreaCode area,City city_name,operator  from
		mobile t where t.`Mobile`=#{mobile} limit 1
	</select>
	
	<update id="updateRateDeductionUnit">
		update tb_caas_phonenumber t set t.employUnit = t.employUnit+#{deductionUtit},t.reSidueUnit = t.reSidueUnit-#{reSidueUnit} 
		where t.phoneNumber=#{phoneNumber} and t.serverProduct=#{productType} and t.userId=#{userId};
	</update>
	
	<select id="getNumByUserIdAndProductType" resultType="map">
		select * from tb_caas_phonenumber t where t.userId=#{userId} and t.serverProduct=#{productType} and t.phoneNumber=#{phoneNumber} and t.status='0'
	</select>
	
	<select id="getUsersAllPhoneNumber" resultType="map">
		select * from tb_caas_phonenumber t where t.userId=#{userId} and t.serverProduct=#{productType} and t.status='0'
	</select>
	
	<insert id="insertBill">
		INSERT INTO tb_caas_cdr_${nowDate} (`userId`, `productType`, `callId`, `caller`, `callerCityCode`, `callerProvider`, 
		`callerDisplay`, `called`, `calledCityCode`, `calledProvider`, `calledDisplay`, `realityNumber`, `recordType`, 
		`callStatus`, `beginTime`, `endTime`, `callType`, `callTime`, `rateId`, `billingType`, `billingUnit`, 
		`callPrice`, `deductionUnit`, `cdrType`, `recordPrice`, `recordUrl`, `callStatusB`, `beginTimeB`, `endTimeB`, 
		`callTypeB`, `callTimeB`, `callPriceB`, `deductionUnitB`, `cdrTypeB`, `callPayMoney`, `recordPayMoney`, `payMoney`, 
		`createTime`, `deductionStatus`, `message`, `userData`,`content`, `remark`) VALUES 
		(#{userId}, #{productType}, #{callId}, #{caller}, #{callerCityCode}, #{callerProvider}, #{callerDisplay}, #{called}, #{calledCityCode}, #{calledProvider},
		 #{calledDisplay}, #{realityNumber}, #{recordType}, #{callStatus}, #{beginTime}, #{endTime}, #{callType}, #{callTime}, #{rateId}, #{billingType}, #{billingUnit},
		  #{callPrice}, #{deductionUnit}, #{cdrType}, #{recordPrice}, #{recordUrl}, #{callStatusB}, #{beginTimeB}, #{endTimeB}, #{callTypeB}, #{callTimeB}, #{callPriceB},
		   #{deductionUnitB}, #{cdrTypeB}, #{callPayMoney}, #{recordPayMoney}, #{payMoney}, now(), #{deductionStatus}, #{message}, #{userData},#{content}, #{remark});	
	</insert>
	
	<insert id="insertBindOrder">
		INSERT INTO `tb_caas_bind_order` (`userId`, `bindId`, `caller`, `dstVirtualNum`, `callee`, `maxAge`, `requestId`,`callerDisplay`, `calleeDisplay`,
		 `record`, `statusUrl`, `hangupUrl`, `recordUrl`, `cityId`, `productType`, bindStatus, `subid`, `callRestrict`, `userData`, `createDate`) VALUES 
		 (#{userId}, #{bindId}, #{caller}, #{dstVirtualNum}, #{callee}, #{maxAge}, #{requestId},#{callerDisplay}, #{calleeDisplay},
		 #{record}, #{statusUrl}, #{hangupUrl}, #{recordUrl}, #{cityId}, #{productType}, #{bindStatus}, #{subid}, #{callRestrict}, #{userData}, now());
	</insert>
	
	<select id="getAllBindByDstVirtaulNum" resultType="map">
		select bindId,caller,callee,dstVirtualNum,maxAge,record,callerDisplay,calleeDisplay,date_format(createDate,'%Y-%m-%d %H:%i:%S') as bindTime,callRestrict from tb_caas_bind_order t where t.dstVirtualNum=#{dstVirtualNum}
		and t.userId=#{userId} and t.bindStatus='0' and (DATE_ADD(t.createDate,INTERVAL t.maxAge SECOND) > now() or maxAge = -1)
	</select>
	
	<update id="updateBindStatus">
		update tb_caas_bind_order set bindStatus = '1' where bindId = #{bindId}
	</update>
	
	<select id="getBindOrderStatusUrl" resultType="string">
		select statusUrl from tb_caas_bind_order t where t.subid = #{subid}
	</select>
	<select id="getBindOrderBillUrl" resultType="string">
		select hangupUrl from tb_caas_bind_order t where t.subid = #{subid}
	</select>
	<select id="getBindOrderRecordUrl" resultType="string">
		select recordUrl from tb_caas_bind_order t where t.subid = #{subid}
	</select>
	
	<select id="getBindOrder" resultType="map">
		select * from tb_caas_bind_order t where t.subid = #{subid}
	</select>
	
	<select id="getBindOrderByNumber" resultType="map">
		select * from tb_caas_bind_order t where t.dstVirtualNum=#{virtualNumber} and t.bindStatus='0' and (DATE_ADD(t.createDate,INTERVAL t.maxAge SECOND) > now() or maxAge = -1) limit 1
	</select>
	
	<select id="getCallBackUrl" resultType="map">
		select statusUrl,hangupUrl,recordUrl from tb_caas_application t where t.userId=#{userId} and t.productType=#{productType}
	</select>
	
	<select id="getAppBillUrl" resultType="string">
		select hangupUrl from tb_caas_application t where t.userId=#{userId} and t.productType=#{productType}
	</select>
	
	<select id="getNumberCityId" resultType="string">
		select cityCode from tb_caas_phonenumber t where t.phoneNumber=#{phoneNumber} limit 1
	</select>
	
	<select id="getTemplateContent" resultType="string">
		select templateContent from tb_caas_template t where t.id=#{id} and t.userId=#{userId} and t.status='0'
	</select>
	
	<select id="getBlackMobile" resultType="int">
		select count(1) countTotal from tb_caas_black_mobile t where t.mobile = #{mobile}
	</select>
	
	<insert id="insertRecordToCallback">
		INSERT INTO `tb_caas_record` (`callIdentifier`, `recordUrl`, `userData`, `callId`, `status`, `createDate`)
		VALUES (#{callIdentifier}, #{recordUrl}, #{userData}, #{callId}, '0', now());
	</insert>
	
	<select id="selectAllRecordCallback" resultType="map">
		select * from tb_caas_record t where t.status = '0' and now() > DATE_ADD(t.createDate,INTERVAL 6 MINUTE);
	</select>
	
	<update id="updateRecordCallback">
		update tb_caas_record set status = '1' where id = #{id};
	</update>
	
</mapper>